<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services role:require="Standalone or ContentManagement">
      <register role:require="!DedicatedDispatch"
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Sitecore.EmailCampaign.Model.Messaging.UnsubscribeMessage, Sitecore.EmailCampaign.Model]],  Sitecore.Framework.Messaging.Abstractions"
        implementationType="Sitecore.EmailCampaign.Cm.UI.Handlers.UnsubscribeMessageHandler, Sitecore.EmailCampaign.Cm.UI"
        lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Support.EmailCampaign.Cm.UI.Handlers.UnsubscribeMessageHandler, Sitecore.Support.293925</patch:attribute>
      </register>
    </services>
    <Messaging>
      <Rebus>
        <Sitecore.EmailCampaign.Model.Messaging.Buses.UnsubscribeMessagesBus role:require="!DedicatedDispatch">
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <UnsubscribeMessageMapping>
                  <Type>Sitecore.Support.EmailCampaign.Model.Messaging.UnsubscribeMessage, Sitecore.Support.293925</Type>
                </UnsubscribeMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
        </Sitecore.EmailCampaign.Model.Messaging.Buses.UnsubscribeMessagesBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>